name: "KoShelf"
description: "Transform your KOReader library into a beautiful reading dashboard with statistics."
version: "1.7.1"
slug: "koshelf"
init: false
arch:
  - amd64
  - aarch64
startup: services
map:
  - media:ro
  - share:ro
ports:
  38492/tcp: 38492
options:
  title: ""
  include_unread: true
  include_all_stats: false
  library_path: []
  books_path: ""
  database_path: ""
  docsettings_path: ""
  hashdocsettings_path: ""
  heatmap_scale_max: "auto"
  day_start_time: ""
  timezone: ""
  min_pages_per_day: ""
  min_time_per_day: "30s"
  language: "en_US"
schema:
  title: str?
  library_path:
    - str
  books_path: str?
  database_path: str?
  docsettings_path: str?
  hashdocsettings_path: str?
  include_unread: bool
  include_all_stats: bool
  heatmap_scale_max: str
  day_start_time: str?
  timezone: str?
  min_pages_per_day: str?
  min_time_per_day: str?
  language: str?